<nav>
    <div class="site-title">
        <a href="/"><h1>My Blog</h1></a>
        <p>A Pratice Node Project</p>
        <ul>
            <li><a href="/" > Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </div>
</nav>