<!DOCTYPE html>
<html lang="en">

<%-include('./partials/header.ejs')%>

<body>
    
    <%-include('./partials/nav.ejs')%>

    <div class="about-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat asperiores quasi maxime eaque debitis magnam delectus enim atque eum!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi dicta magnam et corporis, tempora inventore mollitia facilis laboriosam natus omnis!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nulla quis eum? Ut quibusdam impedit harum, earum nam laborum veritatis.</p>
    </div>

    <%-include('./partials/footer.ejs')%>
    
</body>
</html>